body{
  background-color: #3b3636; 
  margin: 0%;
}

.tittle{
  text-align: center;
  margin: auto;
  font-size: 40px;
  width: 50%;
  color: white;
  font-family: sans-serif;
}

.textoprin{
  text-align: center;
  margin: auto;
  font-size: 20px;
  width: 70%;
  color: white;
  font-family: sans-serif;
}

.titulo{
  text-align: left;
  font-size: 20px;
  width: 50%;
  color: white;
  font-family: sans-serif;
  right: 60;
}

.texto{
  text-align: left;
  font-size: 17px;
  width: 70%;
  color: white;
  font-family: sans-serif;
}

.lista{
  text-align: left;
  font-size: 17px;
  width: 70%;
  color: white;
  font-family: sans-serif;
}

.derechosreservados{
  color: white;
}

.imagen1{
  position:relative;
  right: 100px;
  top: 50px;
}

.imagen2{
  position:relative;
  right: 100px;
  top: 50px;
}

.imagen3{
  position:relative;
  right: 150px;
  top: 50px;
}

.imagen4{
  position:relative;
  right: 100px;
  top: 50px;
}

.imagen5{
  position:relative;
  right: 200px;
  top: 50px;
}

.imagen6{
  position:relative;
  right: 130px;
  top: 40px;
}

.imagen7{
  position:relative;
  left: 100px;
  top: 80px;
}